

.container {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:100vh;
    width:100vw;
    display:flex;
    position:absolute;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: rgba(235, 234, 234, 1);
}



canvas{
    cursor:url("https://img.icons8.com/emoji/48/000000/pencil-emoji.png") 5 40 ,auto;
    background-color: white;
    position: relative;
    width:50%;
    height:50%;
    margin-top: 20vh;
    border-radius: 5px ;
  }


.colorPalette {
    border-radius: 0px 30px 30px 0px;
    float: left;
    margin-top: 20vh;
    margin-left: 20px;
    width: 10vw;
    height:50vh;
    background-color: rgb(249, 197, 67);
    cursor: pointer;
    text-align: center;
    position:relative;
}

.tools {
    border-radius: 30px 0px 0px 30px;
    margin-top: 20vh;
    margin-right: 20px;
    background-color: rgb(171, 50, 182);
    width: 10vw;
    height:50vh;
    cursor: pointer;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}

.tool {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5); 
}

.tool:hover{
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5) inset;
}



.colors{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.color {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5); 
    position:relative; 
}


.color:hover{
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5) inset;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green{
    background-color: green;
}

#gold {
    background-color:gold ;
}

#purple {
    background-color: purple;
}

#white{
    background-color: white;
}

#eraser{
    background-color: white;
    background-image: url("https://img.icons8.com/android/24/000000/eraser.png");
    background-repeat: no-repeat;
    background-position: center;
}

#clear {
    background-color: white;
    background-image: url("https://img.icons8.com/material-rounded/28/000000/delete.png");
    background-repeat: no-repeat;
    background-position: center;
}

#palette{
    background-color: white;
    background-image: url("https://img.icons8.com/android/24/000000/pencil.png");
    background-repeat: no-repeat;
    background-position: center;
}

#save{
    background-color: white;
    background-image: url("https://img.icons8.com/material/24/000000/download--v1.png");
    background-repeat: no-repeat;
    background-position: center;
}